* {
  margin: 0;
  padding: 0;
}
/* Header */
header nav {
  position: absolute;
  width: 100vw;
  height: 80px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

header ul li {
  display: flex;
}

/* Header Buttons */

header ul button {
  border: 2px solid black;
  background-color: transparent;
  height: 30px;
  width: 94px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.shadow-border {
  height: 4px;
  margin-left: 3.1px;
  width: 88px;
  background-color: black;
  transform: perspective(10px) rotateX(-20deg);
}

header ul li div:nth-child(2) button {
  dislpay: flex;
  background-color: #19C1CE;
  width: 120px;
  border: none;
}

.shadow-outline {
  height: 4px;
  margin-left: 4px;
  width: 110px;
  background-color: black;
  transform: perspective(10px) rotateX(-20deg);
}

/* Main Hero */

.main-hero {
  width: 100vw;
  height: 650px;
  background-image: url('./images/shape.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-text {
  margin-left: 6vw;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-title {
  font-family: Darker Grotesque;
  font-size: 56px;
  margin-bottom: 15px;
  line-height: 100%;
  font-weight: 900;
}

.hero-paragraph {
  font-family: Nunito Sans;
  font-size: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}


/* Together information */

.together-info {
  width: 100vw;
  height: 330px;
  background: #F1F3F5;
  background:
    linear-gradient(140deg , #F1F3F5 50px, #0B485B 0) top left;
}

.info-text {
  margin-left: 6vw;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFFFFF;
}

.info-title {
  font-family: Darker Grotesque;
  font-size: 32px;
  margin-bottom: 15px;
}

.info-paragraph {
  font-family: Nunito Sans;
  font-size: 16px;
}

/* signup form */

.signup-form {
  position: absolute;
  top: 13vh;
  right: 6vw;
  width: 30vw;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  padding: 10px;
  box-shadow: 0px 4px 12px rgba(33, 36, 41, 0.14);
  border-radius: 2px;
}

.header-form {
  font-family: Darker Grotesque;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 110%;
  text-align: center;
}

.tip-form {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  color: #7E8A98;
}

.form-control {
  padding-left: 8px;
  border-radius: 0;
  border: 2px solid black;
  height: 35px;
  margin: 10px 0;
  background-color: #FFFFFF;
  box-shadow: inset 6px 6px 0px #EEFBFB;
}

select.form-control {
  color: #97A1AC;
}

.label-input {
  display: flex;
  flex-direction: column;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.radio-input {
  margin: 10px 0;
}

.footer-form-text {
  margin: auto;
  margin-top: 16px;
  width: 92%;
  list-style-type: disc;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #7E8A98;
}

.submit-form-btn {
  display: flex;
  border: none;
  background-color: #F2BF4E;
  height: 40px;
  width: 100%;
  justify-content: center;
  align-items: center;

  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 150%;
}

.shadow-submit {
  height: 5px;
  background-color: black;
  margin-left: 1.2vw;
  width: 92%;
  transform: perspective(10px) rotateX(-20deg);
}

.radio-input {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.radio-input input[type="radio"]:checked {
  accent-color: black;
}

/* Result sections */

section.results {
  display: flex;
  width: 100vw;
  height: 902px;
  background:
    linear-gradient(to right top, #FFFFFF 450px, #F1F3F5 0);
}

/* .results-info {
  position: absolute;
  left: 65vw;
  width: 350px;
} */

section.results h3 {
  font-family: Darker Grotesque;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 110%;
}

.girl-with-pen {
  padding-top: 240px;
  padding-left: 100px;
  width: 1065px;
  height: 600px;
}
